*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {

    --ff-primary: 'Noto Sans JP', sans-serif;

    --fw-normal: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-one: #909090;
    --clr-two: #ff0000;
    --clr-three: #1cec72;

    --clr-bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.5);
}

/* Genreal Styles */

body {
    background-image: url(background-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--ff-primary);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
}


/* Class Styles */

.title h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    background: var(--clr-three);
    border-radius: 10px;
}

.background--wrap {
    padding: 1em;
    background-color: var(--clr-one);
    box-shadow: var(--clr-bs);
    height: 100%;
    border-radius: 10px;
}

.note {
    border: none;
    border-radius: 10px;
}

.input--actions {
    text-align: center;
    padding-top: 1em;
}

.note--input__add,
.note--input__clear {
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background: var(--clr-one);
    color: var(--clr-light);
    padding: 10px;
    transition: all 0.4s ease;
}

.note--input__add:hover,
.note--input__clear:hover {
    background: var(--clr-three);
}

.note--container {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: var(--clr-light);
}

.note--new {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.note--new li {
    flex: 1;
}



.note--modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal--content {
    background: var(--clr-light);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
}

.closebtn {
    color: var(--clr-light);
    float: top;
    font-size: 28px;
    font-weight: var(--fw-bold);
}

.closebtn:hover,
.closebtn:focus {
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
}