*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {

    --ff-primary: 'Noto Sans JP', sans-serif;

    --fw-normal: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-one: #909090;
    --clr-two: #ff0000;
    --clr-three: #1cec72;

    --clr-bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.5);
}

/* Genreal Styles */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--clr-light);
    padding: 10px;
}

button {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Class Styles */

.background--wrap {
    padding: 1em;
    background-color: var(--clr-one);
    box-shadow: var(--clr-bs);
    height: 100vh;
}